<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EcoMind MarketPlace</title>
    <link rel="stylesheet" href="{% static 'marketPlace.css' %}" />
</head>

<body>
    <div class="back">
    <a href="/">
      <button id="backBtn">⬅️</button>
    </a>
  </div>
    <div class="wrap">
        <header>
            <div class="brand">
                <h1>EcoMind MarketPlace</h1>
            </div>
        </header>
        <div class="grid">
            <div class="card">
                <div class="media"><img src="{% static 'Assets/Images/dustbin.png' %}" alt="dustbin"></div>
                <p class="dustbin">Dustbin</p>
                <p class="desc">Throw your trash in its destination.</p>
                <div class="meta">
                    <span class="price">&#8377;260</span>
                    <a href="https://www.flipkart.com/elinor-grey-color-pedal-unbreakable-plastic-material-dustbin/p/itm30b5826ae861b?pid=DUBGRB4KKQHHJEUA&lid=LSTDUBGRB4KKQHHJEUAZ6JICY&marketplace=FLIPKART&q=dustbin&store=rja%2Fz2d%2Fr6h&spotlightTagId=default_BestsellerId_rja%2Fz2d%2Fr6h&srno=s_1_13&otracker=search&otracker1=search&fm=Search&iid=d84cdcca-2131-42f0-b45f-6e7fc65dc143.DUBGRB4KKQHHJEUA.SEARCH&ppt=sp&ppn=sp&ssid=lskvnpdmc00000001764178282317&qH=e3f57c2a4133b540"
                        target="_blank" 
                        rel="noopener noreferrer" 
                        class="btn">
                        Buy on Flipkart
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="media"><img src="{% static 'Assets/Images/carrybag.jpg' %}" alt="carrybag"></div>
                <p class="carrybag">Carry Bag</p>
                <p class="desc">Pack of 25. Say no to polybag, Go Green.</p>
                <div class="meta">
                    <span class="price">&#8377;385</span>
                    <a href="https://www.flipkart.com/greennest-100gms-paper-carry-bag-handles-shopping-bags-pack-25-grocery/p/itma28e56780d206?pid=GCBH96FZMGHJSJKV&lid=LSTGCBH96FZMGHJSJKVFKUSJR&marketplace=FLIPKART&q=carry+bag&store=upp%2F5ix%2Fp6h&srno=s_1_3&otracker=search&otracker1=search&fm=Search&iid=7324cb3c-9f65-4b75-a547-d9f7eeb1d5c4.GCBH96FZMGHJSJKV.SEARCH&ppt=sp&ppn=sp&ssid=gmwfqt0j0g0000001764178107496&qH=97856590fd941a44"
                        target="_blank" 
                        rel="noopener noreferrer" 
                        class="btn">
                        Buy on Flipkart
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="media"><img src="{% static 'Assets/Images/mask.jpeg' %}" alt="mask"></div>
                <p class="mask">Mask</p>
                <p class="desc">Pack of 100. Don't forget to protect yourself in hurry of saving Earth.</p>
                <div class="meta">
                    <span class="price">&#8377;170</span>
                   <a href="https://www.flipkart.com/vaghani-100-pcs-relience-green-disposable-iso-3-ply-polluation-export-quality-mask-dust-75-gsm-export-surgical-melt-blown-fabric-layer/p/itm42f63186a3cf4?pid=MRPGNSTBRRH5QJGA&lid=LSTMRPGNSTBRRH5QJGAUVQV8T&marketplace=FLIPKART&q=mask&store=hlc%2F20m%2Fled%2Fdew&srno=s_1_38&otracker=search&otracker1=search&fm=Search&iid=en_QLsLkaYnvUiokhN1Le1veZhizsgvTjPvpioGJJUXgjnVaOFgCFnFpVNZ1H0O-UlZ71Ka9XMMH_ZqVCgrpfFpag%3D%3D&ppt=sp&ppn=sp&ssid=k10f7xrjgg0000001764178029172&qH=f2ce11ebf1109936"
                        target="_blank" 
                        rel="noopener noreferrer" 
                        class="btn">
                        Buy on Flipkart
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="media"><img src="{% static 'Assets/Images/broom.png' %}" alt="broom"></div>
                <p class="broom">Broom</p>
                <p class="desc">A broom for cleaning your home.</p>
                <div class="meta">
                    <span class="price">&#8377;140</span>
                    <a href="https://www.flipkart.com/preclusive-premium-quality-plastic-handle-natural-100-grass-broom-stick-dry/p/itm0478c6be6967e?pid=BMBFTEDYAFYPCRC7&lid=LSTBMBFTEDYAFYPCRC7W2P5CD&marketplace=FLIPKART&q=broom&store=rja%2Fz2d%2Fjms&srno=s_1_12&otracker=search&otracker1=search&fm=Search&iid=en_iww56mdshF-71fNQJTJVeBCl8euLkx4FrnbkJ38icmPq5vLecrwvJLAUqD65rYI8ORx5Ve8nb0ictMm_yjME8w%3D%3D&ppt=sp&ppn=sp&ssid=h5uo2onec00000001764174233099&qH=5bfab488f433de37"
                        target="_blank" 
                        rel="noopener noreferrer" 
                        class="btn">
                        Buy on Flipkart
                    </a>

                </div>
            </div>
        </div>

    </div>
</body>

</html>